# Log file
*.log

### Gradle ###
.gradle
build/

# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/

### Java ###
*.class
*.jar
!libs/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.project
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache
bin/
tmp/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store